	<input type="text" class="chat-name" ng-model="inputName" placeholder="Enter your name" />

	<div id="chat" class="chat-messages" scroll-glue>
		<div class="chat-message" ng-repeat="x in messages">
			<span class="chat-name-message" ng-model="chat_name_message">
				<b>{{x.chater_name}}</b>
			</span>
			<span>:</span>
			<span>
				{{x.chater_message}}
			</span>
			<p class="chat-time" ng-model="chat_time">
				{{x.chater_time}}
			</p>
		</div>
	</div>

	<textarea class="type-field" ng-keyup="$event.keyCode == 13 && sentEventListener($event)" ng-model="inputMessage" placeholder="Type your message"></textarea>