
<div class="container">
    <div class="row">
        <h2></h2>
        <form class="form-horizontal" name="profile">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">User name:</label>
                <div class="col-sm-3">
                    <input type="text" ng-pattern="/^[a-zA-Z0-9]*$/" class="form-control" id="inputEmail3"
                           placeholder="User name"
                           ng-model="user.userName" ng-minlength=5 ng-maxlength=15 name="username">

                </div>
                <span class="error" ng-show="profile.username.$error.pattern">Username should only contain letters and numbers</span>
                <span class="error" ng-show="profile.username.$error.minlength">Username should be at least 5 characters long</span>
           <span class="error"
                 ng-show="profile.username.$error.maxlength">
                 Username cannot be longer than 15 characters</span>
            </div>
            <div class="form-group">
                <label for="inputEmail31" class="col-sm-2 control-label">Age:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="inputEmail31" placeholder="Age" ng-model="user.userAge"
                           max="100" min="18" name="age">
                </div>
                <span ng-show='profile.age.$error.min'>You should be at least 18 years old</span>
                <span ng-show='profile.age.$error.max'>You cannot be older than 100 years old</span>
            </div>
            <div class="form-group">
                <label for="inputEmail33" class="col-sm-2 control-label">E-mail address</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="inputEmail33" placeholder="E-mail address"
                           ng-readonly="emailStatus" value="{{user.userEmail}}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Old password:</label>
                <div class="col-sm-3" data-ng-class="{'has-error':!profile.password.$valid}">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Old password"
                           ng-model="user.oldPassword" ng-maxlength='12' ng-minlength='6' name="password" required="">
                </div>
                <span class="error" ng-show="profile.password.$error.minlength">Password should be at least 6 characters long</span>
                <span class="error" ng-show="profile.password.$error.maxlength">Password cannot be longer than 12 characters</span>
            </div>
            <div class="form-group">
                <label for="inputPassword31" class="col-sm-2 control-label">New password:</label>
                <div class="col-sm-3">
                    <input type="password" name="newpassword" class="form-control" id="inputPassword31" data-ng-match="Password" placeholder="New password"
                           ng-model="user.newPassword" ng-minlength=6 ng-maxlength='12'>

                </div>
                <span class="error" ng-show="profile.newpassword.$error.minlength">Password should be at least 6 characters long</span>
                <span class="error" ng-show="profile.newpassword.$error.maxlength">Password cannot be longer than 12 characters</span>
            </div>
            <div class="form-group">
                <label for="inputPassword32" class="col-sm-2 control-label">Confirm new password:</label>
                <div class="col-sm-3">
                    <input type="password" name="confpassword" class="form-control" id="inputPassword32" placeholder="Confirm new password"
                           ng-model="user.confirmNewPassword" ng-minlength=6 ng-maxlength='12' data-ng-match="Password">
                </div>
                <span class="error" ng-show="profile.confpassword.$error.minlength">Password should be at least 6 characters long</span>
                <span class="error" ng-show="profile.confpassword.$error.maxlength">Password cannot be longer than 12 characters</span>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" ng-click="saveChanges(user)">Save changes</button>
                    <button type="button" class="btn btn-danger" ng-click="open()">Delete account</button>
                </div>
            </div>


        </form>

    </div>
</div>

