textarea {
    color: #222;
}

.chat {
	color: #222;
    padding-left: 10px;
    margin: 0 auto;
    background-color: #eee;
    float: right;
    textarea {
        height: 30px;
        width: 298px;
        outline: none;
    }
}

.chat-messages {
    height: 105px;
    overflow-y: scroll;
}
.chat-name-message {
    display: inline;
    font: 12px;
    font-family: "Times New Roman";
}
.chat-message {
    background-image: linear-gradient(bottom, rgb(36, 58, 89) 25%, rgb(149,194,253) 100%);
    background-image: -o-linear-gradient(bottom, rgb(36, 58, 89) 25%, rgb(149,194,253) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(36, 58, 89) 25%, rgb(149,194,253) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(36, 58, 89) 25%, rgb(149,194,253) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(36, 58, 89) 25%, rgb(149,194,253) 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.25, rgb(36, 58, 89)), color-stop(1, rgb(149,194,253)) );
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 10px 0;
    box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    clear: both;
    float: left;
    margin-bottom: 5px;
    padding: 3px 3px 3px 0;
    position: relative;
    width: 90%;
    word-wrap: break-word;
    font-family: "Times New Roman";

    background: rgb(51, 204, 51) none repeat scroll 0% 0%;
    border: medium none;

    .ng-binding {
        float: left;
        margin-left: 5px;
    }
}
.chat-time {
    font-size: 10px;
    width: 50%;
    max-width: 40rem;
    float: right !important;
    display: inline;
    color: white;

    font-weight: bold;
    font-size: 12px;
    text-align: right;
    margin-right: 10px;
}
#chat-window {
    border: 1px solid black;
    input {
        background-color: rgb(36, 58, 89);
        border: 1px solid black;
        border-radius: 5px;
        color: white;
        height: 30px;
        width: 60px;
        margin-top: 4px;

        &:hover {
            transition: color 0.1s ease-out;
            color: rgba(255, 80, 80, 1);
        }
    }
}
.type-field {
    // width: 80%;
    float: left;
    border: 1px solid black;
    margin-top: 4px;
    border-radius: 5px;
    font-family: "Times New Roman";

    resize: none;
    width: 271px;
    height: 30px;
}
