.content {
    width: 80%;
    padding: 0 15px;
    margin: 40px auto;
    max-width: 1024px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.status span{
    padding-left: 20px;
    position: relative;
    &:before{
        top: 0;
        left: 0;
        bottom: 0;
        width: 10px;
        content: "";
        height: 10px;
        margin: auto;
        background: #d3d4da;
        position: absolute;
        @include border-radius(50%);
    }
    &.true{
        &:before{
            background: #6ed46e;
        }
    }
}

/////////
  .navbar-brand {
  padding: 0px;
      img {
        height: 100%;
        padding: 0px;
        width: auto;
      }
  }

  div.content {
  height: 100vh;
  background: yellow;
  }

  div.wrapper {
      background: linear-gradient(to right, rgba(120, 2, 6, 1) 0%, rgba(120, 2, 6, 0.5) 49%, rgba(120, 2, 6, 0.8) 100%);
      min-height: 92vh;
  }

