/*Login Form*/

input.ng-invalid.ng-touched {
	border: 1px solid #da3637;
}

input.ng-valid.ng-touched {
	border: 1px solid #509D12;
}

.error-message {
	color:red;
}

.submitBtn {
	margin-top:35px;
}

.login-form {
	background-color: rgba(120,2,6, 0.82);
}