$brand-color: #d3d4da;

body {
	margin: 0;
	font-size: 12px;
	background: $brand-color;
	@include border-radius(10px);
}

.navbar-brand>img {
    height: 100%;
    padding: 0px;
    width: auto; 
}
.navbar-brand {
        padding: 0px; 
}
.navbar-center {
    margin-top: 5px; 
    position: fixed;
    left:45vw;
    display: block;
}

.content {
    width: 100%;
    margin: auto;
    max-width: 100vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

div.wrapper {
	background: linear-gradient(to right, #780206 0%, rgba(120, 2, 6, 0.5) 49%, rgba(120, 2, 6, 0.8) 100%);
	min-height: 92vh; 
}