doctype html
html
    head
        meta(charset="UTF-8")
        title Volcano tanks
        link(rel="stylesheet", href="/public/stylesheets/game.css")
    body
        canvas(id="myCanvas", width='800', height='500') I'm hidden 
        div(class="menu")
        script(type="text/javascript", src="/public/scripts/lightning.js")
        script(type="text/javascript", src="/public/scripts/game.js")
